body {
    background-image: url('../img/actualizar.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 90%;
}

h1 {
    margin-bottom: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}


a {
    display: block;
    width: 70%;
    max-width: 500px;
    margin-top: 1em;
    padding: 10px;
    background-color: rgba(23, 52, 213, 0.5);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}