body {
    background-image: url('../img/registrofinal.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 90%;
    text-align: center;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 1em;
}
a {
    display: block;
    width: 90%;
    max-width: 800px;
    margin-top: 1em;
    padding: 10px;
    background-color: rgba(37, 55, 155, 0.5);
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
